<main role="main">   
    <div class="container-fluid">
        <div class="landing" >
            <main>
                <span class="small" [innerHTML]="title_small"></span>
                <br>
                <span class="large" [innerHTML]="title_large"></span>
            </main>
            <img [src]="image_path" class="rounded img-fluid" alt="...">
            <div class="aboutme">
                    <h1>ABOUT ME</h1>
                    <p [innerHTML]="content"></p>
            </div>
        </div>
    </div>
</main>