<ul id="menu">
    <li data-menuanchor="aboutme"><a href="#aboutme">About Me</a></li>
    <li data-menuanchor="formations"><a href="#formations">Formations</a></li>
    <li data-menuanchor="experiences"><a href="#experiences">Experiences</a></li>
    <li data-menuanchor="skills-data"><a href="#skills-data">Skills Data</a></li>
    <li data-menuanchor="skills-fullstack"><a href="#skills-fullstack">Skills FullStack</a></li>
    <li data-menuanchor="skills-other"><a href="#skills-other">Skills Other</a></li>
    <li data-menuanchor="skills-competitive"><a href="#skills-competitive">Skills Competitive</a></li>
    <li data-menuanchor="skills-mechanical"><a href="#skills-mechanics">Skills Mechanical</a></li>
    <li data-menuanchor="books"><a href="#books">Books</a></li>
</ul>