<app-background [showEarth]="showEarth"></app-background>

<app-nav></app-nav>

<app-socials></app-socials>

<div *ngIf="viewport_too_small" id="warning">
    The device you are using is too small to have the best User eXperience. It is highly recommended to visit this website on a tablet or computer.
</div>

<div class="content-wrapper">
  <section id="aboutme">
    <app-title>
    </app-title>
  </section>

  <section id="formations">
    <app-formations  
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
      [viewport_too_small]="viewport_too_small"
    >
    </app-formations>
  </section>

  <section id="experiences">
    <app-experiences 
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
      [viewport_too_small]="viewport_too_small"
    >
    </app-experiences>
  </section>

  <section id="skills-data">
    <app-skills-data       
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-data>
  </section>

  <section id="skills-fullstack">
    <app-skills-fullstack 
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-fullstack>
  </section>

  <section id="skills-other">
    <app-skills-other  
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-other>
  </section>

  <section id="skills-competitive">
    <app-skills-competitive  
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-competitive>
  </section>

  <section id="skills-mechanics">
    <app-skills-mechanics 
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-mechanics>
  </section>

  <section id="skills-mechanics">
    <app-skills-languages 
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-skills-languages>
  </section>

  <section id="books">
    <app-books 
      [includeReveal]="includeReveal"
      [viewFactor]="viewFactor"
      [duration]="duration"
    >
    </app-books>
  </section>

</div>